{
    "sign": {
        "name": "John Doe",
        "reason": "Regulatory",
        "location": "Some place"
    },
    "annotations": [
        { "Name": "JohnDoe" },
        { "Reason": "Regulatory" },
        { "Something": "Else" },
        { "Date": "2020-01-01" }
    ],
    "coords": [{
            "pages": [1, 2],
            "x1": 80,
            "y1": 80,
            "x2": 300,
            "y2": 150
        },
        {
            "pages": [3],
            "x1": 200,
            "y1": 80,
            "x2": 300,
            "y2": 150
        }
    ],
    "style": {
        "autoSize": false,
        "fontSize": 12,
        "lineHeight": 18,
        "fontColor": "#00ff00",
        "bgColor": "#fefefe",
        "borderSize": 1,
        "borderColor": "#00ff00"
    }
}